.col-xs-4 input[type="text"]{
    margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 5px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}

.col-xs-2 input[type="number"]{
    margin-bottom: 20px;
	margin-top: 10px;
	width:50%;
	padding: 5px;
	border-radius:5px;
	border:1px solid #7ac9b7;
}