.line-items {
	margin-top: 30px;
}

.btn-xs {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:8%;
    margin-top: 10px;
}

.col-xs-3 {
	font-weight: bold;
}

.col-xs-6 {
	font-weight: bold;
}